.panel-title-style {
  margin-bottom: 0px;
}

.panel-option-style {
  margin-bottom: 0px;
}

.panel-Meat-style {
  margin-bottom: 0px;
}
.panel-Style-style {
  margin-bottom: 0px;
}

.panel-title-style > .panel-heading {
  background-color: #F94144;
}

.panel-option-style > .panel-heading {
  background-color: #F3722C;
}

.panel-Meat-style > .panel-heading {
  background-color: #F8961E;
}

.panel-Style-style > .panel-heading {
  background-color: #F9C74F;
}

.panel-Side-style > .panel-heading {
  background-color: #90BE6D;
}

.font-layout {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  color: whitesmoke;
}

.Title {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  color: whitesmoke;
  text-align: center;
}

.SubTitle {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  color: whitesmoke;
  margin: 0px;
  margin-left: 10%;
}

#ChooseTitle {
  margin-left: 15%;
}

.firstSize {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: whitesmoke;
  margin: 0px;
  margin-left: 25%;
}

.secondSize {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: whitesmoke;
  margin: 0px;
  margin-left: 20%;
}

.styleSize {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: #F94144;
  margin: 0px;
  margin-left: 20%;
}

.styleSubSize {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  color: #F94144;
  margin: 0px;
  margin-left: 25%;
}

@media screen and (max-width: 720px) {
  .styleSubSize {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    color: #F94144;
    margin: 0px;
    margin-left: 10%;
  }
  .styleSize {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: #F94144;
    margin: 0px;
    margin-left: 10%;
  }
  .secondSize {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: whitesmoke;
    margin: 0px;
    margin-left: 20%;
  }
  .styleMarginTop
  {
    margin-top: 10px;
  }
  .styleMarginBottom
  {
    margin-bottom: 10px;
  }
  .chineseMeatMarginTop {
    margin-top: 20px;
  }
  .lastOption {
    margin-top: 15px;
  }
}

.styleChineseLayout {
  margin-left: 5px;
}

.meatOption {
  margin-left: 5px;
  margin-right: 5px;
}

.priceAdding {
  margin-top: 5px;
}

.redColor {
  color: #F94144;
}

.greenColor {
  color: #277DA1;
}

.symbolFontSize {
  font-size: 25px;
}
