@media screen and (max-width: 720px) {
  .mapWidth {
    width: 100%;
    min-width: 100%;
  }
}

.mapWidth {
    width: 70%;
    float:right;
    margin-top: 20px;
  }

.mapLayout {
  width: 100%;
  height: 500px;
}

#telephoneNumber
{
  text-decoration: none;
  color:blue;
  margin-top: 0px;
  margin-bottom: 0px;
}

.titleMargin
{
  margin-top:20px;
}

.subTitle
{
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  text-decoration: underline;
  color: black;
  margin-bottom: 5px;
  font-weight: bold;
}

.normalText
{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.redColor
{
  color: red;
}