.telephoneDetail p {
    color: whitesmoke;
    font-size: 20px;
}

.telephoneDetail h4 {
    color: whitesmoke;
    font-size: 30px;
}

.addressDetail p {
    color: whitesmoke;
}

.addressDetail h4 {
    color: whitesmoke;
    font-size: 30px;
}

.addressParagraph {
    margin-bottom: 0px;
    margin-top: 0px;
}

.deliveryService h4 {
    font-size: 30px;
    color: whitesmoke;
}

.deliveryService p {
    margin-bottom: 0px;
    margin-top: 0px;
    color: whitesmoke;
    font-size: 20px;
}

.backgroundRed {
    background: #f23a55;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imageFit {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:50%;
}

.soupImageFit
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:50%;
}

#Gallery {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f2c776;
}

.galleryTitle {
    font-size: 60px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 0px;
}

.lineThicknessForGallery {
    border: none;
    margin-bottom:3px;
    margin-top: 3px;
    height: 5px;
   background-color: #FFD700;
}

.textBlackFontForGallery
{
    margin-bottom:0px;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
}

.deliveryInfo
{
    background: #f23a55;
    font-size: 18px;
    color: whitesmoke;
}

