.paragraphInline {
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
}

.navBarMarginRight {
    margin-top: 10px;
    margin-right: 30%;
}

.telephoneDetail p {
    color: whitesmoke;
    font-size: 20px;
}

.telephoneDetail h4 {
    color: whitesmoke;
    font-size: 30px;
}

.addressDetail p {
    color: whitesmoke;
}

.addressDetail h4 {
    color: whitesmoke;
    font-size: 30px;
}

.addressParagraph {
    margin-bottom: 0px;
    margin-top: 0px;
}

.deliveryService h4 {
    font-size: 30px;
    color: whitesmoke;
}

.deliveryService p {
    margin-bottom: 0px;
    margin-top: 0px;
    color: whitesmoke;
    font-size: 20px;
}

#TitleHeading{
    padding-top:20px;
    background: #f23a55;
}

.backgroundRed {
    background: #f23a55;
    padding-top: 30px;
    padding-bottom: 30px;
}

.imageFit {
    width:40%;
    height:40%;
}

#Gallery {
    background-color: #F5F5F5;
}

.galleryTitle {
    font-size: 60px;
    
}

.lineThicknessForGallery {
    border: none;
   height: 5px;
   background-color: #FFD700;
}
