
.InfoTitle
{
  color : black;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.InfoSubTitle
{
  color : black;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.panel-info-style
{
  border-color: transparent;
}

.panel-info-style > .panel-heading
{
  background:#fcf6bd;
  color:whitesmoke;
}

.panel-menu-style
{
  border-color:transparent;
}

.panel-menu-style > .panel-heading
{
    background: #f2c776;
    color: whitesmoke;
    border-color: black;
}

#vegetarianDish
{
  border-color: green;
  border-width: 2px;
}

.SubMenuTitle
{
  color : black;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.veganSymbol
{
  float:left;
}

.SubMenuTitleHelpText
{
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  color:black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.orderNumberLabel
{
  float:left;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 0px;
}

.foodNameLabel
{
  float: left;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 0px;
}

.priceLabel
{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  float: right;
  margin-right: 20px;
  margin-bottom: 0px;
}

.hintNameLabel
{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: red;
  font-size: 10px;
  margin-left:5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.pepperLabel
{
  color:red;
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 16px;
}

.seperateLine
{
  margin-top: 1px;
  margin-bottom: 1px;
}

.clearFloat
{
  clear: both;
}

#ExtraPortionDish
{
  border-color: goldenrod;
}

.panel-extraPortion-style > .panel-heading
{
  background-color: goldenrod;
}

.panel-extraPortion-style > .panel-body
{
  background-color: #f2c776;
  opacity: 0.9;
}
