#TitleHeading {
  background: #f23a55;
}

@media screen and (max-width: 720px) {
  .titleNavBar {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 25%;
  }
  .secondTitleNavBar {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 40%;
  }
}

@media screen and (min-width: 721px) {
  .titleNavBar {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    color: whitesmoke;
    text-decoration: none;
  }
  .titleNavBar:hover {
    text-decoration: none;
  }
  .secondTitleNavBar:hover {
    text-decoration: none;
  }
  .secondTitleNavBar {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    color: whitesmoke;
    text-decoration: none;
  }
}

@media screen and (max-width: 720px) {
  .paragraphInline {
    font-size: 18px;
    margin-left: 15%;
  }
}

@media screen and (min-width: 721px) {
  .navBarMarginRight {
    margin-top: 20px;
    margin-right: 5%;
  }
  .paragraphInline {
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
  }
}

.subNavBarParagraph {
  color: whitesmoke;
  text-decoration: none;
}
.subNavBarParagraph:hover {
  text-decoration: none;
}

@media screen and (min-width: 721px) {
  #firstNavBar {
    padding-right: 15px;
    border-right: 2px solid whitesmoke;
  }

  #secondNavBar {
    padding-right: 15px;
    border-right: 2px solid whitesmoke;
  }
  #thirdNavBar {
    padding-right: 15px;
    border-right: 2px solid whitesmoke;
  }

  #fourthNavBar {
    padding-right: 15px;
    border-right: 2px solid whitesmoke;
  }
}
